# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*.swo
*~

# project cruft
.ropeproject*
.idea

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

# log files:
log
*.log

# Translations:
*.pot

# virtual enviroment
venv
vkarma
beta

## Django
# deployment specific django files:
local_settings.py
# uploaded media
karmaworld/media/
# collected staticfiles
karmaworld/static/
# secret things
karmaworld/secret/*

## OS X
# thumbnail cache
.DS_Store

## Sublime Text 
*.sublime-project
*.sublime-workspace

## ctags
.tags

## USDE accreditation school CSV
confs/accreditation.csv

# Local SSL testing
runserver_ssl
stunnel

# Heroku
.env


