# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*.swo
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

# log files:
log
*.log

# Translations:
*.pot

# virtual enviroment
venv
vkarma

# ignore south migrations
migrations

## Django
# deployment specific django files:
local_settings.py
# uploaded media
karmaworld/media/
# collected staticfiles
karmaworld/static/

## OS X
# thumbnail cache
.DS_Store

## Sublime Text 
*.sublime-project
*.sublime-workspace

