Django>=1.5.0,<1.6.0
django-celery==3.0.21
django-compressor==1.2
Fabric==1.5.3
South==0.8.4
oauth2client==1.0
urllib3==1.5
google-api-python-client==1.0
django-grappelli==2.4.8
django-taggit==0.11.2
git+https://github.com/btbonval/django-filepicker.git
filemagic==1.6
requests==2.2.1
beautifulsoup4==4.3.2
cryptography==0.2.2 # here to make buildpack install libffi
pyopenssl==0.14
python-twitter==1.3.1
gdshortener==0.0.2
git+https://github.com/flaptor/indextank-py.git
git+https://github.com/jhilker/html2text.git
django-allauth==0.16.1
boto==2.6.0
django-storages==1.1.4
django-reversion==1.8.0
django-ajax-selects==1.3.3
git+https://github.com/btbonval/django-ajax-selects-cascade.git
psycopg2==2.4.5
pylibmc==1.2.3
pyth==0.5.6
querystring_parser==1.2.0
gunicorn==0.14.3
dj-static==0.0.6
dj-database-url==0.3.0
mock==1.0.1
cssmin==0.1.4
amqplib==1.0.2
django-sslify>=0.2
newrelic==2.40.0.34
