{% extends "base.html" %}
{% load url from future %}
{% load account %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/quiz.css">
{% endblock %}

{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/keyword.js"></script>
{% endblock %}

{% block title %}
  {{ note.name }}
{% endblock %}

{% block content %}
  <section id="dashboard_content">
    <div id="stats_container" class="hero_gradient_bar">

      <div class="row">
        <div class="twelve columns header_subhead">
          <a href="{{ note.get_absolute_url}} ">
            <i class="fa fa-arrow-left"></i>&nbsp;back to {{ note.name }}
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-10 columns small-centered center header_title">
          <p>Define keywords for the note<br/>
          {{ note.name }}</p>
        </div>
      </div>

      <div class="row">
        <div class="small-10 columns small-centered center show-for-large-up">
          <p>(Press <i class="fa fa-plus"></i> button or hit tab in the last definition box for more rows)</p>
        </div>
      </div>

    </div>

    <div id="activity_container">
      <div class="row">
        <div class="small-12 columns">
          <form id="keyword-form" action="{% url 'keyword_edit' note.slug %}" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <div class="hide" id="keyword-form-prototype">
              <div class="row keyword-form-row">
                <div class="small-12 large-4 columns">
                  {{ prototype_form.keyword }}
                </div>
                <div class="small-12 large-8 columns">
                  {{ prototype_form.definition }}
                  {{ formprototype_form_row.id }}
                </div>
              </div>
              <hr class="hide-for-large-up" />
            </div>
            <div id="keyword-form-rows">
              {% for form_row in form %}
                <div class="row keyword-form-row">
                  <div class="small-12 large-4 columns">
                    {{ form_row.keyword }}
                  </div>
                  <div class="small-12 large-8 columns">
                    {{ form_row.definition }}
                    {{ form_row.id }}
                  </div>
                </div>
                <hr class="hide-for-large-up" />
              {% endfor %}
            </div>
            <div id="row">
              <div class="small-1 columns">
                <i id="add-row-btn" class="fa fa-plus fa-2x"></i>
              </div>
              <div class="small-10 large-11 columns center">
                <button type="submit" name="action">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



  </section>

{% endblock %}
