{% extends "base.html" %}
{% load url from future %}
{% load account %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/quiz.css">
{% endblock %}

{% block title %}
  {{ quiz.name }}
{% endblock %}

{% block content %}
  <section id="dashboard_content">
    <div id="stats_container" class="hero_gradient_bar">
      <div class="row">
        <div class="small-10 columns small-centered center header_title">
          {{ quiz.name }}
      </div>
        </div>
      <div class="row">
        <div class="small-12 medium-8 large-4 columns small-centered">
          <div class="row">
            <div class="small-6 columns center  stat_lead_in">
              you've passed
            </div>
            <div class="small-6 columns center  stat_lead_in">
              out of
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns center  stat_number stat_earned">
              3
            </div>
            <div class="small-6 columns  center stat_number stat_uploaded">
              14
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns center  stat_object stat_earned">
              questions
            </div>
            <div class="small-6 columns center  stat_object stat_uploaded">
              total
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="activity_container">

      {% if not questions %}
        <div class="row">
          <div id="no_activity" class="small-10 columns small-centered center">
            <h4>This quiz has no questions.</h4>
          </div>
        </div>
      {% endif %}

      <form action="{{ quiz.get_absolute_url }}" method="post">
        {% csrf_token %}
        {% for item in questions %}

          <div class="row">
            <div class="small-10 columns small-centered quiz-center">
              {% if 'MultipleChoiceQuestion' in item.0 %}
                {% with question=item.1 %}
                  <div class="question multiple-choice">
                    <p>{{ question.question_text }}</p>
                    <ul>
                      {% for choice in question.choices.all %}
                        <li><input id="choice_{{ question.id }}_{{ choice.id }}"
                                   type="radio"
                                   name="{{ question.id }}"
                                   value="{{ choice.id }}">
                          <label for="choice_{{ question.id }}_{{ choice.id }}">{{ choice.text }}</label></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endwith %}
              {% endif %}

              {% if 'TrueFalseQuestion' in item.0 %}
                {% with question=item.1 %}
                  <div class="question true-false">
                    <p>{{ question.text }}</p>
                    <li><input id="choice_{{ question.id }}_true"
                               type="radio"
                               name="{{ question.id }}"
                               value="true">
                    <label for="choice_{{ question.id }}_true">True</label></li>
                    <li><input id="choice_{{ question.id }}_false"
                               type="radio"
                               name="{{ question.id }}"
                               value="false">
                    <label for="choice_{{ question.id }}_false">False</label></li>
                  </div>
                {% endwith %}
              {% endif %}

              {% if 'FlashCardQuestion' in item.0 %}
                {% with question=item.1 %}
                  <div class="question flash-card">
                    <p>{{ question.definition_side }}</p>
                    <input type="text"
                           name="{{ question.id }}"
                           id="text_{{ question.id }}">

                  </div>
                {% endwith %}
              {% endif %}
            </div>
          </div>
          <br/>
        {% endfor %}
        <div class="row">
          <div class="small-12 columns center">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>

    </div>



  </section>

{% endblock %}
