table#course_list
{
  margin:14px auto;
}
a {
  color:black;
}
a:hover {
  color:#f05a28;
}

/***************
Search Bar
***************/
#course_list_filter input {
  font: 22px/1em "MuseoSlab-300";
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-left: 32px; /* move the placeholder text to the right of the search icon*/
  background-image: url(../img/lightbox_search_icon.png);
  background-position: 8px 50%;
  background-repeat: no-repeat;
}


/***************
Table Headers
***************/
table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  cursor: pointer;
  *cursor: hand;
}

table.dataTable thead th.sort_by {
  padding-right: 0px;
}

table#course_list thead tr
{
  height: 50px;
}

table#course_list th
{
  float:left;
  font-family: "MuseoSlab-300";
  font-size: 12px;
  font-weight: normal;
}

th.sorting_asc, th.sorting_desc {
  text-decoration: underline;
}

th.date {
}

th.note-count {
}

th.school-name {
}

th.course-name {
}

th.instructor-name {
}


/***************
Table Data 
***************/
table#course_list {
  /*border-collapse: collapse;*/
}

tr.course-row {
  border-color: white;
  border-style: dotted none; 
  border-width: 2px;
}

tr.course-row:hover {
  border-color: gray;
  border-style: dotted none; 
}

table#course_list td {
  font-family: "MuseoSlab-300";
  font-size: 18px;
  float:left;
  height:80px; /* required for :hover on Table Rows  (when floating td elements) */
}

table#course_list tbody tr td.slim {
  font-family: "MuseoSlab-300";
  font-size: 12px;
  height: 20px; /* required for :hover on Table Rows  (when floating td elements) */
}

table#course_list tr:nth-child(even)
{
  /*background: url(../img/dashboard_activity_alt_on_bg.gif);*/
}

/* underline all linksin the table body */
table#course_list tbody td a {
  text-decoration: underline;
}

/* rows of course data */
table#course_list tbody tr {
  width: 840px;
}

/* hack - Provide positioning for the "sort by text" */
table.dataTable td.sort_by {
  display:none;
}

td.date {
  font-size: 12px; 
  width: 200px;
}

td.note-count {
  font-size: 12px;
  width: 600px; /* 100% minus td.date width -- make sure the next line wraps */
}

td.school-name {
  width: 200px; /* make this the same as td.date -- line up the artificial columns */
}

td.course-name {
  width: 340px;
}


table#course_list td div.upload {
  width: 45px;
  height: 45px;
  visibility: hidden;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
  margin-top: -8px;
}

table#course_list td div.upload i { 
  padding-top: 1px;
  width: 1.1em;
  display: block;
  cursor: pointer;
}
table#course_list td div.upload a { 
  color: #f05a28;
  text-decoration: none;
}

table#course_list td div.upload:hover i {
  padding-top: 0px; /* prevent font awesome from moving on :hover */
  border: solid 1px black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

table#course_list tr:hover td div.upload {
  visibility: visible;
}

td.instructor-name {
  width:200px;
}
