table#course_list
{
  margin:14px auto;
}

/***************
Table Headers
***************/
table#course_list thead
{
  border-bottom: solid 1px black;
}

table#course_list th
{
  float:right;
  font-family: "MuseoSlab-500";
  font-size: 12px;
  margin-right: 25px;
}

th.date {
}

th.note-count {
}

th.school-name {
}

th.course-name {
}

th.instructor-name {
}


/***************
Table Data 
***************/
table#course_list td
{
  font-family: "MuseoSlab-700";
  font-size: 12px;
  float:left;
}

table#course_list tr:nth-child(even)
{
  /*background: url(../img/dashboard_activity_alt_on_bg.gif);*/
}

td.date {
  width: 40%;
}

td.note-count {
  width: 60%;
}

td.school-name {
  width:40%;
}

td.course-name {
  width:30%;
}

td.instructor-name {
  width:30%;
}
