.nav-list ul {
  list-style-type: none;
  margin: 0;
}

.nav-list li {
  display: inline;
  padding: 0 5px 0 5px;
}

#header-nav {
  text-align: right;
  font-size: 1.3em;
}

#header-login-nav {
  text-align: right;
}

#logo-container {
  padding: 5px 5px 5px 5px;
}

#main-header {
  border: 1px solid grey;
  border-radius: 0.2em;
}

#global-header {
  margin-top: 20px;
}

.gradient-bar
{
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8); /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8); /* Firefox 16+, IE10, Opera 12.50+ */
  border-bottom: solid 1px #bdbcbd;
}

#global_footer {
  line-height: 1.5em;
  margin: 20px 0 20px 0;
}

label.inline-label
{
  display: inline;
}

