body {
  font-family: 'adelle-sans';
  font-weight: lighter;
  word-wrap: break-word;
  background: #333333;
}

.museo300 {
  font-family: 'museo300';
}

.museo700 {
  font-family: 'museo700';
  font-weight: normal;
}

.adelle-sans {
  font-family: 'adelle-sans';
}

h1, h2, h3, h4, h5 {
  font-family: 'museo700';
}

p {
  font-weight: inherit;
}

.top-bar-section ul li > a {
  font-family: inherit;
  font-size: 1.2em;
  padding: 0;
}

.top-bar-section ul li {
  margin-left: 20px;
  padding: 0;
}

.top-bar-section ul li > a:hover {
  background: #ffffff !important;
  border-radius: 2px;
  color: #333333 !important;
  text-decoration: none !important;
  font-family: 'museo700';
}

#content-container {
  background: #ffffff;
  padding-bottom: 10px;
}

#main-header {
  background: #333333;
  color: #d4d4d4;
}

div.contain-to-grid {
  padding: 5px 0 5px 0;
}

@media only screen and (max-width: 500px) {
  div.contain-to-grid {
    padding: 0;
  }
  .top-bar-section ul li {
    padding: 10px;
    margin-left: 5px;
  }
}

#header-login-nav {
  text-align: right;
  color: #ffffff;
  background: #000000;
  padding: 3px 0 3px 0;
}

#header-login-nav ul {
  color: #d4d4d4;
  font: 0.8em 'adelle-sans';
  list-style-type: none;
  margin: 0;
}

#header-login-nav li {
  display: inline;
  padding: 0 5px 0 5px;
}

@media only screen and (max-width: 500px) {
  #splash {
    background-image: url('/static/img/banner_small.jpg');
  }
}

#global_footer {
  line-height: 1.5em;
  color: #d4d4d4;
  font-size: 0.8em;
  padding: 20px 0 20px 0;
}

.footer-row {
  margin-bottom: 10px;
}

label.inline-label
{
  display: inline;
}

button,
.button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0.1em;
  font-family: inherit;
  background: #333333;
  cursor: pointer;
}

button.important {
  background: #f1592a;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background: #f1592a;
}

button.disabled,
button.disabled:hover,
button.disabled:focus,
.button.disabled,
.button.disable:hover,
.button.disabled:focus {
  background: #333333;
  color: #bcbdc0;
  cursor: default;
}

button.inline-button {
  display: inline;
}

button.scary {
  background-color: #F12A2A;
}

.joyride-content-wrapper .button {
  background-color: #008CBA;
}

a,
a:hover,
a:focus,
a:visited {
  color: #802e16;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.inherit-color {
  color: inherit;
}

.inherit-color a {
  color: inherit;
}

.underline a {
  text-decoration: underline;
}

span.table-school {
  font-weight: bold;
}

span.table-note-count,
span.table-quiz-count,
span.table-thanks-count {
  margin-right: 15px;
}

.table-course-name {
  font-size: 1.8em;
  margin-right: 10px;
}

table.dataTable {
  margin-bottom: 30px;
  border: none;
  table-layout: fixed;
}

table.dataTable div.table-entry-first-line {
  font-size: 0.9em;
  margin: 0 0 5px 0;
}

table.dataTable div.table-entry-third-line {
  font-size: 0.9em;
  margin: 5px 0 0 0;
}

table.dataTable div.data-table-entry {
  margin: 20px 0 20px 0;
}

table.dataTable a {
  color: inherit;
}

.dataTables_paginate {
  float: left;
}

table.dataTable .table-row.even .data-table-entry-wrapper,
.even {
  background-color: #fafafa !important;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.odd {
  background-color: transparent !important;
}

td {
  background-color: inherit !important;
}

ul.ui-autocomplete {
  z-index: 1000;
}

.ui-tabs-panel {
  border: none;
  border-top: 1px solid #dfdfdf;
  padding: 20px 10px 20px 10px;
}

.ui-tabs-nav li {
  margin: 0 10px 0 10px;
  border: 1px solid #dfdfdf;
}

#tabs {
  border: none;
}

dl.tabs dd.active {
  border-radius: 5px 5px 0 0;
  border: 1px solid #dfdfdf;
  border-bottom: none;
}

dl.tabs dd {
  border-bottom: none;
  margin-left: 10px;
}

dl.tabs dd,
dl.tabs dd a,
dl.tabs dd a:hover {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: transparent;
}

dl.tabs dd a {
  padding: 5px 10px 5px 10px;
}

div.tabs-content {
  margin-top: -1px;
  border-top: 1px solid #dfdfdf;
}

ul.socialaccount_providers {
  list-style-type: none;
}

ul.socialaccount_providers li{
  display: inline;
  margin: 0 5px 0 5px;
}

.select-wrapper {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: url('/static/img/angle-down.png') no-repeat right #fff;
  margin: 5px 20px 20px 0;
}

select,
select:hover {
  width: 120%;
  height: 30px;
  background: transparent;
  border: 0px;
  padding: 5px;
}

input.search {
  display: inline;
  font-size: 1.2em;
  font-family: 'adelle-sans';
  font-weight: lighter;
  border-radius: 3px 0 0 3px;
  width: calc(100% - 40px);
  height: 40px;
  margin-right: 0;
}

i.search-icon,
button.search-icon {
  background-color: black;
  color: white;
  height: 40px;
  width: 40px;
  vertical-align: top;
  padding: 12px;
  border-radius: 0 3px 3px 0;
  margin-left: -4px;
  margin-bottom: 0;
  cursor: pointer;
}

.sort-label {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 10px;
}

.filter-options {
  border-bottom: 1px solid #a9a9a9;
}

.light {
  opacity: 0.8;
  font-size: 0.8em;
}
