body {
  font-family: 'adelle-sans';
  font-weight: lighter;
  word-wrap: break-word;
}

.museo300 {
  font-family: 'museo300';
}

.museo700 {
  font-family: 'museo700';
  font-weight: normal;
}

.adelle-sans {
  font-family: 'adelle-sans';
}

h1, h2, h3, h4, h5 {
  font-family: 'museo700';
}

p {
  font-weight: inherit;
}

.top-bar-section ul li > a {
  font-family: inherit;
  font-size: 1em;
}

#main-header {
  background: #333333;
  color: #d4d4d4;
}

#header-login-nav {
  text-align: right;
  color: #ffffff;
  background: #000000;
  padding: 3px 0 3px 0;
}

#header-login-nav ul {
  color: #d4d4d4;
  font: 0.8em 'adelle-sans';
  list-style-type: none;
  margin: 0;
}

#header-login-nav li {
  display: inline;
  padding: 0 5px 0 5px;
}

#splash {
  background-image: url('../img/banner_small.jpg');
  background-size: cover;
  background-position: center center;
}

#global_footer {
  line-height: 1.5em;
  padding: 20px 0 20px 0;
  margin-top: 20px;
  background: #333333;
  color: #d4d4d4;
  font-size: 0.8em;
}

label.inline-label
{
  display: inline;
}

button,
.button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0.1em;
  font-family: inherit;
  background: #333333;
  cursor: pointer;
}

button.important {
  background: #f1592a;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background: #f1592a;
}

button.disabled,
button.disabled:hover,
button.disabled:focus
.button.disable:hover,
.button.disabled:focus, {
  background: #333333;
  color: #bcbdc0;
  cursor: default;
}

button.inline-button {
  display: inline;
}

.joyride-content-wrapper .button {
  background-color: #008CBA;
}

a,
a:hover,
a:focus,
a:visited {
  color: #802e16;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.inherit-color {
  color: inherit;
}

.inherit-color a {
  color: inherit;
}

.underline a {
  text-decoration: underline;
}

span.table-school {
  font-weight: bold;
}

span.table-note-count,
span.table-quiz-count,
span.table-thanks-count {
  margin-right: 15px;
}

.table-course-name {
  font-size: 1.8em;
  margin-right: 10px;
}

table.dataTable {
  margin-bottom: 30px;
  border: none;
  table-layout: fixed;
}

table.dataTable div.table-entry-first-line {
  font-size: 0.9em;
  margin: 0 0 5px 0;
}

table.dataTable div.table-entry-third-line {
  font-size: 0.9em;
  margin: 5px 0 0 0;
}

table.dataTable div.data-table-entry {
  margin: 20px 0 20px 0;
}

table.dataTable a {
  color: inherit;
}

.even {
  background-color: #fafafa !important;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.odd {
  background-color: transparent !important;
}

ul.ui-autocomplete {
  z-index: 1000;
}

.ui-tabs-panel {
  border: none;
  border-top: 1px solid #dfdfdf;
  padding: 20px 10px 20px 10px;
}

.ui-tabs-nav li {
  margin: 0 10px 0 10px;
  border: 1px solid #dfdfdf;
}

#tabs {
  border: none;
}

dl.tabs dd.active {
  border-radius: 3px;
}

dl.tabs dd {
  margin: 0 10px 0px 10px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
}

dl.tabs dd,
dl.tabs dd a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

dl.tabs dd a {
  padding: 5px 10px 5px 10px;
}

div.tabs-content {
  margin-top: -1px;
  border-top: 1px solid #dfdfdf;
}

div.message-container {
  margin: 20px 0 0 0;
}

ul.socialaccount_providers {
  list-style-type: none;
}

ul.socialaccount_providers li{
  display: inline;
  margin: 0 5px 0 5px;
}