#splash {
  font-size: 2.5em;
  padding: 20vh 15vw 20vh 15vw;
  background: grey;
  margin: 20px 0 20px 0;
  border-radius: 0.2em;
  color: white;
  text-align: center;
}

input.search-courses {
  width: 15em;
  display: inline;
  margin-right: 0;
}

#course-sort-wrapper {
  float: right;
  display: inline;
}

select.course-sort {
  width: 10em;
}

#course-search-bar {
  border: 1px solid grey;
  padding: 10px 0 0 0;
}

span.table-school,
span.table-note-count,
span.table-quiz-count,
span.table-thanks-count {
  font-weight: bold;
}

span.table-course-name {
  font-size: 1.8em;
}

div.table-entry-third-line {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

div.table-entry-first-line {
  padding-top: 10px;
}


