#splash {
  padding: 8% 5% 8% 5%;
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  background-image: url('../img/banner_small.jpg');
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 40.063em) {
  #splash {
    font-size: 1.8em;
  }
} /* medium screens and down */

input.search-courses {
  display: inline;
  margin: 0 0 10px 5px;
  max-width: 30em;
}

#course-sort-wrapper {
  float: right;
  display: inline;
}

select.course-sort {
  width: 10em;
}

#course-search-bar {
  background: #f5f5f5;
  padding: 15px 0 0 0;
  font: 1em 'museo300';
}

#intro-video-button {
  color: #f1592a;
  background: #ffffff;
  margin: 10px 0 0 0;
  padding: 5px 5px 5px 5px;
}

