#splash {
  padding: 4% 5% 4% 5%;
  color: #ffffff;
  text-align: center;
  font-size: 3.3em;
  background-size: cover;
  background-position: center center;
  line-height: 1.5;
}

@media only screen and (max-width: 500px) {
  #splash {
    background-image: url('/static/img/banner_small.jpg');
  }
}

@media only screen and (min-width: 501px) {
  #splash {
    background-image: url('/static/img/banner_large.jpg');
  }
}

@media only screen and (max-width: 40.063em) {
  #splash {
    font-size: 1.8em;
  }
} /* medium screens and down */

#course-search-bar {
  background: #f5f5f5;
  padding: 15px 0 0 0;
  font: 1em 'museo300';
}

#intro-video-button {
  color: #f1592a;
  background: #ffffff;
  margin: 10px 0 0 0;
  padding: 5px 5px 5px 5px;
  box-shadow: 1px 1px 3px black;
}

#add-course-btn {
  width: 100%;
  font-size: 1.2em;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 10px;
}

