/* FOR LARGE SCREENS ONLY */
@media only screen and (min-width: 768px) {
  /* Front page intro text, large on wide, resize on small */
  #subhead span {
    font-size: 22px;
  }

  /* make some fields of the frontpage table a larger font, but only when large */
  table#course_list .table-font {
    font-family: "MuseoSlab-300";
    font-size: 18px;
    font-style: normal;
  }

  table#course_list tr td:last-child {
    /* override some vertical margin spacing for the front page table */
    margin-bottom: 0;
  }





}
