
#course-header-school
{
  font-weight: bold;
}

div.header-byline {
  margin-bottom: 10px;
}

#course-header-name
{
  font-size: 2.5em;
}

#course-header
{
  padding: 20px 0 0 0;
}

#end-header
{
  margin-top: 20px;
}

input.search-courses {
  display: inline;
  margin: 0 0 10px 5px;
  max-width: 30em;
}

form.search-notes {
  display: inline;
}

#note-search-bar {
  background: #f5f5f5;
  padding: 15px 0 0 0;
  font: 1em 'museo300';
}

ul.socialaccount_providers li
{
  display: inline;
}

table.dataTable div.note-date {
  margin-bottom: 10px;
}

table.dataTable div.note-text {
  margin: 10px 0 10px 0;
}

table.dataTable span.note-thanks {
  padding: 10px 0 0 0;
}

div.return-to-course {
  background: #f5f5f5;
  padding: 10px 0 10px 0;
  font-size: 0.7em;
}

#results_header {
  margin: 20px 0 20px 0;
  font-size: 1.8em;
}

div#note_header {
  margin: 20px 0 20px 0;
}

div.header-title-row {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

.header-title {
  font-size: 2.5em;
  vertical-align: middle;
}

.modify-button {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  font-size: 0.8em;
}

#outline-btn,
#minus-btn,
#plus-btn {
  cursor: pointer;
}

.keyword-form-row textarea.definition {
  max-height: 75px;
}

#add-row-btn {
  cursor: pointer;
}

button.add-note-btn {
  width: 100%;
  font-size: 1.2em;
  font-family: 'museo700';
  margin-bottom: 10px;
  height: 40px;
}

.note-upload-remove-button {
  margin-bottom: 10px;
  cursor: pointer;
}

.keywords-hint {
  font-size: 0.8em;
}

.note-keyword-toggle {
  margin: 0 0 10px 0;
}

#keywords-data-table td {
  padding: 10px 10px 10px 10px;
}

#edit-keywords-button {
  font-size: inherit;
  margin: 0;
  padding: 5px;
}

#keyword-intro,
#quiz-intro {
  font-size: 0.8em;
}

#quiz-intro {
  margin-bottom: 10px;
}

#note-category {
  margin-bottom: 10px;
}

.quiz-question {
  margin-bottom: 20px;
}

.quiz-question-inner {
  padding: 10px 0 10px 0;
}

.question-text {
  margin: 0 0 10px 0;
}

.quiz-question input[type="radio"]:checked+label {
  font-weight: bold;
}

.correct {
  background-color: #e5ffdc;
}

.incorrect {
  background-color: #ffdcdc;
}

.correct-label,
.incorrect-label {
  padding-left: 0;
}

.correct-label-inner,
.incorrect-label-inner {
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  width: intrinsic;			/* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;	/* Firefox/Gecko */
}

.correct-label-inner {
  background-color: #4f7342;
}

.incorrect-label-inner {
  background-color: #740b00;
}

.matching-select-wrapper {
  width: 40px;
  margin: 0;
  display: inline-block;
}

.matching-select {
  width: 80px;
  font-weight: bold;
  margin: 0;
}

.matching-select option {
  font-weight: bold;
}

.matching-select-label {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
  vertical-align: top;
  font-weight: bold;
}

.matching-choice {
  margin: 0 0 15px 0;
}