
#course-header-school
{
  font-weight: bold;
}

div.header-byline {
  margin-bottom: 10px;
}

#course-header-name
{
  font-size: 2.5em;
}

#course-header
{
  margin: 20px 0 0 0;
}

#end-header
{
  margin-top: 20px;
}

input.search-courses {
  display: inline;
  margin: 0 0 10px 5px;
  max-width: 30em;
}

form.search-notes {
  display: inline;
}

#note-sort-wrapper {
  float: right;
  display: inline;
}

select.note-sort {
  width: 10em;
}

#note-search-bar {
  background: #f5f5f5;
  padding: 15px 0 0 0;
  font: 1em 'museo300';
  margin-bottom: 20px;
}

ul.socialaccount_providers li
{
  display: inline;
}

table.dataTable div.note-date {
  margin-bottom: 10px;
}

table.dataTable div.note-text {
  margin: 10px 0 10px 0;
}

table.dataTable span.note-thanks {
  padding: 10px 0 0 0;
}

div.return-to-course {
  background: #f5f5f5;
  padding: 10px 0 10px 0;
  font-size: 0.8em;
}

#results_header {
  margin: 20px 0 20px 0;
  font-size: 1.8em;
}

div#note_header {
  margin: 20px 0 20px 0;
}

div.header-title-row {
  margin: 10px 0 10px 0;
}

.header-title {
  font-size: 2.5em;
  vertical-align: middle;
}

.modify-button {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  font-size: 0.8em;
}

#outline-btn,
#minus-btn,
#plus-btn {
  cursor: pointer;
}

.keyword-form-row textarea.definition {
  max-height: 75px;
}