
#results_header {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#no_results
{
  font-family: "MuseoSlab-900";
  font-size: 10px;
  color: #8e8e8e;
  margin-bottom: 20px;
}

#search_nav_buttons
{
  font-family: "MuseoSlab-900";
  font-size: 25px;
  color: #8e8e8e;
  margin-bottom: 20px;
}