{% load url from future %}
{% include 'partial/opentip.html' %}
<section id=add-note-form class="extend-form">
  <script>
    var ajax_upload_url = "{% url 'ajax_upload' %}";
    //var csrf_token = "{{ csrf_token }}";
  </script>

  <form id=add-note class="dropzone" method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="small-8 small-offset-1 columns large-4 large-offset-1 upload-status" style="display:none">
        <legend><span id=add-note-status>Uploading</span> <span id=filename>note</span>...</legend>
        <div class=progress> <div id="progress-fill"></div> </div>
      </div>
      <div id=file-uploader class="small-8 small-offset-1  columns large-4 large-offset-1">
        <!-- the upload button gets attached here -->
      </div>

      <div class="small-2 columns large-1">
        <!-- TODO: only show after file selected-->
        <i class="icon-remove-sign awesome-action"></i>
      </div>

      <div id="drpbx-btn" class="small-2 columns large-1 end"
          data-ot="Upload directly from Dropbox"
          data-ot-target="true"
          data-ot-tip-joint="top center"
          data-ot-target-joint="bottom center"
          data-ot-background="white"
          data-ot-border-color="black" >
        <i class="icon-dropbox icon-2x"></i>

        <input type="text" class="hidden" id="id_drpbxURL" name="dropbxURL" style="display: none"/>
      </div>


    </div>
    <div class="row">
      <div class="small-10 small-offset-1 columns large-8 large-offset-1">
        <legend>Title of Note <small class="form">* Required</small></legend>
        <input type="text" class="intext" id="id_name" name="name"
            placeholder="ENG 102 - Chaucer to Shakespeare">
      </div>
      <div class="small-10 small-offset-1 columns large-2 large-offset-0 end">
        <legend>Academic Year</legend>
        <input type="text" class="" id="id_year" name="year"
            placeholder="2013"> {# FIXME: fill in with current year #}
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-1 columns large-8 large-offset-1">
        <legend>Tags (comma seperated)</legend>
        <input type="text" id="id_tags" name="tags" class="taggit-tags"
              placeholder="Chaucer, Shakespeare, literature, review">
      </div>
    </div>

    <div class="row">
      <div class="small-8 small-offset-1 columns large-4 small-centered">
        <div id="save-btn" class="disabled">
          <i class=icon-save></i> Save
        </div>
      </div>
    </div>


    </form> <!-- #upload_form -->
  {% include 'partial/dropbox_support.html' %}
</section>
