{% comment %}
  
{% endcomment %}
<!-- TODO: add to head-->
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="n1wj0fd5nszev45"></script>
<!-- log what file was chosen by dropbox -->
<script type="text/javascript">
  var options = {
      linkType: "direct",
      success: function(file) {
                console.log("Here is the file selected " + file[0].link);
                console.log(file);
                $('#id_drpbxURL').val(file[0].link);
              },
      }

  $('#drpbx-btn').on('click', function(ev){
    Dropbox.choose(options);
  });
</script>
