{% load url from future %}
{% load socialaccount %}
{{ file_upload_form.media }}
<section id=filepicker-form class="extend-form">
  <div class="row" id="filepicker_row">
    <div class="small-8 small-offset-1 columns large-10">
       {{ file_upload_form.as_p }}
    </div>
  </div> <!--.row -->
  <div class="row" >
    <div class="small-10 small-offset-1 columns">
      <div id="forms_container">
      </div>
      <div id="success" class="hide">
        <p>Thank you for sharing:</p>
        <ul id="uploaded_files">
        </ul>
        {% if not request.user.is_authenticated %}
          <p>It will take a minute for your notes to appear here.
            We'd love to have you sign up so you can <strong>claim the <span id="thank-points"></span> karma points
            you just got.</strong> With a KarmaNotes account,
            you can build a reputation by continuing to upload great notes.
            <a href="">Want to share again?</a></p>
          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <a href="{{ signup_url }}">Sign up for a traditional account</a>
          </div>
        {% else %}
          <p>It will take a minute for your notes to appear. This page will refresh soon so you
            can see your new notes.
            You'll be awarded <strong><span id="thank-points"></span> karma points.</strong>
            <a href="">Want to share again?</a></p>
        {% endif %}
      </div>
    </div>

    <div id="form-template" class="row" style="display:none">
      <form class="inline-form" method="POST" action="{% url 'upload_post' %}">
        <div class="small-11 large-6 columns">
          <legend>Title of Note <small class="form">* Required</small></legend>
          <input type="text" class="intext" id="id_name" name="name"
                placeholder="">
        </div>
        <div class="small-12 large-5 columns">
          <legend>Tags (comma seperated)</legend>
          <input type="text" id="id_tags" name="tags" class="taggit-tags"
                placeholder="shakespeare, econ, physics">
        </div>
        <div class="show-for-small columns small-1 end">
          <i class="fa fa-times-circle awesome-action remove"></i>
        </div>
        <div class="hidden-fields" style="display:none;">
          <input type="text" id="id_fpfile" name="fpfile" class="fpurl">
          <input type="text" id="id_mimetype" name="mimetype" class="mimetype">
          <input type="text" id="id_course" name="course" value="{{ course.id }}"
            class="course_id">
          {% csrf_token %}
          <input type="text" class="csrf" value='{{ csrf_token }}'>
        </div>
        <div class="show-for-medium-up columns large-1 end">
          <i class="fa fa-times-circle awesome-action remove" id="icon-remove-sign"></i>
        </div>
      </form>
    </div>
  </div>
  <div class="small-8 small-offset-3 columns large-2">
    <div id="save-btn" class="hide">
      <i id="save-btn-icon" class="fa fa-save"></i> Save
    </div>
  </div>

  <script>
    var uploaded_files = new Array();
    // these are obsolete without the drag-drop widget that we removed from the partial above
    // var $dropzone = $('#filepicker_dropzone');
    var $dropzone_result = $('#filepicker_dropzone_result');


    /*
     *  load the file form template and append it to the form container
     *  takes a fileupload event
     */
    var makeFileForm = function(upFile) {
      var _form = document.getElementById('form-template').cloneNode(deep=true);
      // save the Filename to the form name field
      $(_form.children[0].children[0].children[1]).val(upFile.filename); // replace with upFile name
      _form.style.display = "inline";
      _form.id = null; // clear the unique id
      // save the FP url to the form
      $(_form.children[0].children[3].children[0]).val(upFile.url);
      // save the mimetype to the form
      $(_form.children[0].children[3].children[1]).val(upFile.mimetype);

      document.getElementById('forms_container').appendChild(_form);

      if (document.location.host === 'www.karmanotes.org' ||
        document.location.host === 'karmanotes.org') {
        _gat._getTracker()._trackEvent('upload', 'filepicker file drop');
      }

      $('.remove').on('click', function(e){
          e.stopPropagation();
          $(this).parent().parent().remove();
      });

      $('#save-btn').show();
    };

    $('#save-btn').on('click', function(e){
      e.stopPropagation();
      $(this).unbind('click');
      $(this).addClass('disabled');

      var saveIcon = $('#save-btn-icon');
      saveIcon.removeClass('fa-save');
      saveIcon.addClass('fa-spinner fa-spin');

      $('#forms_container .inline-form').each(function(i,el){
          var name, tags, fpurl, course;
          name = $(el).find('.intext').val();
          fp_file = $(el).find('.fpurl').val();
          tags = $(el).find('.taggit-tags').val();
          course = $(el).find('.course_id').val();
          csrf = $(el).find('.csrf').val();
          email = $('#id_email').val();
          mimetype = $(el).find('.mimetype').val();

          $.post('{% url 'upload_post' %}', {
            'name': name,
            'fp_file': fp_file,
            'tags': tags,
            'course': course,
            'csrfmiddlewaretoken': csrf,
            'mimetype': mimetype,
            'email': email
          }, function(data){
            if (data === 'success') {
              // For multiple uploads, we may end up clearing and re-
              //  writing this multiple times, but show the same list
              //  each time.
              $('#uploaded_files').empty();
              for (var i=0; i < uploaded_files.length; i++) {
                $('#uploaded_files').append($('<li>', {text: uploaded_files[i]}));
              }
              $('#thank-points').html(uploaded_files.length*5);
              $('#success').show();
              $('#save-btn').hide();
              $('#filepicker_row').hide();
              $('#forms_container .inline-form').remove();
              $('#forms_container').hide();
              if (document.location.host === 'www.karmanotes.org' ||
                document.location.host === 'karmanotes.org') {
                _gat._getTracker()._trackEvent('upload', 'upload form submitted');
              }
              {% if user.is_authenticated %}
                setTimeout(function(){
                  location.reload(true);
                }, 20000);
              {% endif %}
            }
          });
          // Add the name we've just uploaded to the list
          uploaded_files.push(name);
      });
    });
    
    var got_file = function(event){
      $dropzone_result.text(event);
        for (var i=0; i < event.fpfiles.length; i++){
          makeFileForm(event.fpfiles[i]);
        }
    };
  </script>


</section>
