{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/about.css">
{% endblock %}

{% block title %}
  Mission, Vision, Team &amp; Scoreboard
{% endblock %}

{% block raw_content %}
  <section id="about_content">

    <div class="row">
      <div class="small-12 columns flex-video vimeo">
        <iframe src="//player.vimeo.com/video/66370775" title="0" width="960" height="436" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

    </div>

    <div class="row">
      <div id="about_copy_header" class="small-12 columns museo700">
        Help us spread the academic wealth.
      </div>
    </div>

    <div class="row">
      <div id="about_copy_body" class="small-12 columns">
        <p>KarmaNotes empowers college students to share course notes, study guides, and other digital learning resources online. By exchanging knowledge on KarmaNotes, everyone benefits from access to a growing database of knowledge.</p>
        <p>All content on KarmaNotes is licensed Creative Commons and all code is <a href="https://github.com/FinalsClub/karmaworld">free and open source</a>. We also maintain full compliance with the Digital Millennium Copyright Act.</p>
        <p>Beyond the ivory tower, KarmaNotes is a network with the potential to digitize education, one lecture at a time.  Like a give-a-penny jar, KarmaNotes collects knowledge for the common good. Best of all, our capacity is practically limitless, and withdrawals are entirely free. </p>
        <p>KarmaNotes is improving access to learning resources thanks to support from the William and Flora Hewlett Foundation and generous scholars like you. Want to get involved or learn more? Please <a href="mailto:info@finalsclub.org?Subject=Karma%20question">contact us</a> or support our mission with a tax-deductible charitable donation to the FinalsClub Foundation.</p>
      </div> <!--/about_copy_body-->
    </div>


    <div id="" class="row panel">

      <div id="donate-text" class="small-12 small-centered columns large-6 large-uncentered">
        <div class="row">
          <div id="donate_copy_header" class="museo300">Love KarmaNotes?</div>
          <!-- /donate_copy_header -->
        </div> <!--.row-->
        <div class="row">
          <div id="donate_copy_body" class="">Support free and open education.</div>
          <!-- /donate_copy_body -->
        </div> <!--.row-->
      </div> <!--small-12 columns large-8-->


      <div class="small-12 small-centered columns large-6 large-uncentered">
        <!-- Amazon form submit for donations -->
        <form id="amazon-donate-form" action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
          <input type="hidden" name="returnUrl" value="http://KarmaNotes.org" >
          <input type="hidden" name="processImmediate" value="1" >
          <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
          <input type="hidden" name="signatureMethod" value="HmacSHA256" >
          <input type="hidden" name="collectShippingAddress" value="1" >
          <input type="hidden" name="isDonationWidget" value="1" >
          <input type="hidden" name="amazonPaymentsAccountId" value="RLXQCTZFRUFP5TMB3RMQC4LKDXN6AKE874PGB9" >
          <input type="hidden" name="referenceId" value="FinalsClub.org Inc" >
          <input type="hidden" name="cobrandingStyle" value="logo" >
          <input type="hidden" name="immediateReturn" value="1" >
          <input type="hidden" name="description" value="Support the free exchange of student learning resources" >
          <input type="hidden" name="abandonUrl" value="http://KarmaNotes.org" >
          <input type="hidden" name="signatureVersion" value="2" >
          <input type="hidden" name="signature" value="0eQB5Jxoa1rE+NuI7IupDKQUZSjfLwQeZdFnSSwFa+A=" >
          <!-- Default donation amount -->
          <input type="hidden" name="amount" value="USD 20" >

          <button id="donate_button" class="button large round expand museo700"  type="submit">
            DONATE
          </button>
        </form>
      </div> <!--small-12 columns large-6 -->

    </div> <!-- donate button container-->

    <div class="row">
      <div class="small-12 columns">
        <div id="leaderboard_header">
          University Karma Leaderboard
        </div><!-- /leaderboard_header -->
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div id="leaderboard_copy">
          These schools are aces at sharing the academic wealth
        </div>
      </div><!-- /leaderboard_copy -->
    </div>


    <div class="row">
      <div id="leaderboard_table" class="small-12 columns">

        {% for school in schools %}
        <div class="row leaderboard_item">
          <div class="small-1 column leaderboard_rank">
            {{ forloop.counter }}
          </div>
          <div class="small-8 columns leaderboard_school">
            {{ school.name }}
          </div> <!-- /leaderboard_school -->
          <div class="small-1 column  leaderboard_score">
            {{ school.file_count }}
          </div> <!-- /leaderboard_score -->
        </div> <!-- /leaderboard_item -->
        {% endfor %}

      </div> <!-- /leaderboard_table -->
    </div>  

  </section><!--/about_content-->
{% endblock %}
