{% load url from future %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>KarmaNotes -- {% block title %}{% endblock %}</title>
	
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/fontface/fontface.css">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/foundation.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/opentip.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/global.css">

  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/pnc8diw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <!-- block pagescripts -->
  {% block pagescripts %}
  {% endblock %}
  <!-- end block pagescripts -->

  <!-- block pagestyle -->
  {% block pagestyle %}
  {% endblock %}
  <!-- end block pagescripts -->

  {% include 'partial/trackers.html' %}

	
</head>
<body>

  <!-- include header -->
  {% include 'header.html' %}
  <!-- end include header -->

  <!-- block content -->
  {% block raw_content %}
  {% endblock %}
  <!-- end block content -->

  <!-- include footer-->
  {% include 'footer.html' %}
  <!-- end include footer-->

  <!-- block bodyscripts -->
  {% block bodyscripts %}
  {% endblock %}
  <!-- end block bodyscripts -->
  <script src="{{ STATIC_URL }}js/opentip-jquery-excanvas.min.js"></script>
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
