{% load url from future %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KarmaNotes -- {% block title %}{% endblock %}{% block head_title %}{% endblock %}</title>
	
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  {% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/fontface/fontface.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/foundation.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/font-awesome-4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/opentip.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/global.css">
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.js"></script>
  {% endcompress %}

  <!-- block pagestyle -->
  {% block pagestyle %}
  {% endblock %}
  <!-- end block pagescripts -->

  {% include 'partial/trackers.html' %}

	
</head>
<body>

  <!-- include header -->
  {% include 'header.html' %}
  <!-- end include header -->

  <!-- block content -->
  {% block raw_content %}
  {% endblock %}
  <!-- end block content -->

  <!-- include footer-->
  {% include 'footer.html' %}
  <!-- end include footer-->

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fastclick.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/opentip-jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation.joyride.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation.tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation.alert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation.topbar.js"></script>
  {% endcompress %}

  <script type="text/javascript" src="//use.typekit.net/pnc8diw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>
    $(function() {
      $(document).foundation();
    });
  </script>
  <!-- block pagescripts -->
  {% block pagescripts %}
  {% endblock %}
  <!-- end block pagescripts -->

</body>
</html>
