{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Control Panel{% endblock %}

{% block content %}
  <h1>Hello {% user_display user %}!</h1>
  <p>Your account control panel:</p>
  <ul>
    <li><a href="{% url 'account_email' %}"><button>Add/Remove Emails</button></a></li>
    <li><a href="{% url 'account_change_password' %}"><button>Change Password</button></a></li>
    <li><a href="{% url 'socialaccount_connections' %}"><button>Social Accounts</button></a></li>
  </ul>
 
{% endblock %}

