{% load url from future %}

{# Logged out #}
  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="small-6 columns">
        <a href="/">
          <img src="{{ STATIC_URL }}img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
        </a>
      </div><!--/logo container-->

      {% if display_add_course %}
        <div class="small-2 columns small-offset-3 show-for-medium-up">
          <a id="add_course_header_button" href="#"><img src="{{ STATIC_URL }}img/global_header_pluscourse.png" /></a>
        </div>
      {% endif %}

      {% if display_add_note %}
        <div class="small-2 columns small-offset-3 show-for-medium-up">
          <a id="add_note_header_button" href="#" onclick="$('.add-note-btn').click();">
            <img src="{{ STATIC_URL }}img/global_header_plusnote.png" /></a>
        </div>
      {% endif %}

      <div id="login_container" class="small-1 columns">
        <a class=white href="{% url 'about' %}">About</a>
      </div>

    </div>
  </header><!--/global header-->
