{% extends "base.html" %}
{% load url from future %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/note_course_pages.css">
{% endblock %}

{% block pagescripts %}
  <script src="{{ STATIC_URL }}js/note-iframe.js" ></script>
{% endblock %}

{% block content %}
  <section id="note_content">

    <div id="course_header"> 
      <div class="row">
        <div id="breadcrumbs" class="ten columns offset-by-one">
          <a href="/">Home</a> &gt; 
          <a href="{{ note.course.get_absolute_url }}">{{ note.course.name }}</a> &gt;
          <a href="{{ note.get_absolute_url }}"> {{ note.name }} </a>
        </div><!-- /course_subhead -->
      </div>

      <div class="row">
        <div id="course_name" class="twelve columns">
          {{ note.name }}
        </div><!-- /note_name -->
      </div>

      <div class="row">
        <div class="ten columns offset-by-one">
          <hr/>
        </div>
      </div>

    </div><!-- /course_header -->
    <div id="note_container">
      {% if  note.file_type == 'pdf' %}
        <!-- Add pdf.js -->
        <div class="row">
          <div class="twelve columns">
            <iframe
                style="border:none; width:100%; min-height: 700px; margins:auto" 
                id="noteframe"
                src="/pdfview/{{ note.id }}"
                onload="autoResize('noteframe')"> </iframe>
                <!--src="/pdfview?file={{ "http://"|urlencode }}{{ hostname|urlencode }}{{ note.note_file.url|urlencode }}"  -->
          </div>
        </div> <!-- .row -->
        {% comment %}
        {% include 'partial/pdfembed.html' %}
        {% endcomment %}

      {% else %} {# note.filetype == 'pdf' #}

      <div class="row">
        <div class="eight columns centered body_copy">
          {% if note.html %}
            <div class="note-text">
              <iframe style="border:none; width:100%;" id="noteframe" src="/raw/{{ note.id }}" onload="autoResize('noteframe')"> </iframe>
            </div> <!-- .note-text -->

          {% else %} {# note.html #}
            <div class="note-error">
              This document's content is currently unavailable. Please try again later.
            </div>
          {% endif %} {# note.html #}

      {% endif %} {# note.filetype == 'pdf' #}

        </div><!-- /body_copy -->
      </div>

    </div><!-- /note_container -->


  </section><!--/note_content-->
{% endblock %}
