{% extends "base.html" %}
{% load url from future %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/note_course_pages.css">
{% endblock %}

{% block pagescripts %}
  <script src="{{ STATIC_URL }}js/note-iframe.js" ></script>
{% endblock %}

{% block bodyscripts %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=271212543025990";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}
  <section id="note_content">

    <div id="course_header"> 
      <div class="row">
        <div id="breadcrumbs" class="small-12 hide-for-small columns ">
          <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="unavailable"><a>{{ note.course.school.name }}</a></li>
            <li><a href="{{ note.course.get_absolute_url }}">{{ note.course.name }}</a></li>
            <li class="current"><a href="{{ note.get_absolute_url }}">{{ note.name }}</a></li>
          </ul>

        </div><!-- /course_subhead -->
      </div>

      <div class="row">
        <div id="course_name" class="small-12 columns">
          {{ note.name }}
        </div><!-- /note_name -->
      </div>

      <div class="row">
        <div class="small-10 small-centered columns small-offset-1 center" style="padding-bottom: 20px;">
          <hr/>
          <i id="minus-btn" class="fa fa-search-minus fa-2x" style="margin-right: 10px; cursor: pointer"></i>
          <i id="plus-btn" class="fa fa-search-plus fa-2x" style="cursor: pointer"></i>
        </div>
      </div>

    </div><!-- /course_header -->
    <div id="note_container">
      {% if pdf or ppt %}
        <!-- Add pdf.js -->
        <div class="row">
          <div class="small-12 columns">
            <iframe
                style="border:none; width:100%; min-height: 700px; margins: auto;"
                id="noteframe"
                src="/pdfview/{{ note.id }}"
                onload="autoResize('noteframe')"> </iframe>
          </div>
        </div> <!-- .row -->

        {% comment %}
        # TODO: embed and pass the url with this included when we fix the css integration issues
        {% include 'partial/pdfembed.html' %}
        {% endcomment %}

      {% else %} {# if pdf #}

      <div class="row">
        <div class="small-12 small-centered columns medium-12 large-12 body_copy">
          {% if note.html %}
            <div class="note-text">
              <iframe style="border:none; width:100%; min-height: 700px;" id="noteframe" src="/raw/{{ note.id }}" onload="autoResize('noteframe')"> </iframe>
            </div> <!-- .note-text -->

          {% else %} {# note.html #}
            <div class="note-error">
              This document's content is currently unavailable. Please try again later.
            </div>
          {% endif %} {# note.html #}

      {% endif %} {# note.filetype == 'pdf' #}

        </div><!-- /body_copy -->
      </div>

    </div><!-- /note_container -->


  </section><!--/note_content-->

    <!--{% url 'note_detail' note.course.school.slug note.course.slug note.slug %}-->

  <div id="facebook" style="position: fixed; right: 10px; bottom: 10px;">
    <div class="fb-like" data-href="https://karmanotes.org{% url 'note_detail' note.course.school.slug note.course.slug note.slug %}" data-width="25" data-layout="box_count" data-action="recommend" data-show-faces="false" data-share="true"></div>
  </div>
{% endblock %}
