<tr>
  <td class="no-display"><!-- this spot solely for the Sort By header --></td>
  <td class="small-8 columns large-4 slim">{{ note.uploaded_at|date:"l M d o"|capfirst }}</td>
  <td class="small-4 columns large-2 large-offset-2 slim">{{ note.thanks }} Thank{{ note.thanks|pluralize }}</td>
  <td class="small-12 large-5 columns">
    <a href="{{ note.get_absolute_url }}">{{ note.name }}</a>
  </td>

  <td class="twelve columns">
    {% if note.tags.count > 0 %}
    <span class="activity_details_context">Tags:
      {% for tag in note.tags.all %}
        {{ tag.name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
    {% endif %}
  </td>

  <td class="twelve columns note_preview">
    {% if note_preview %}
      {{ note_preview|safe }}
    {% elif note.text|length <= 500 %}
      {{ note.text }}
    {% else %}
      {{ note.text|slice:":500" }} &hellip;
    {% endif %}
    <hr class="midrule"></hr>
  </td>

</tr>
