<tr>
  <td class="hide">{{ note.uploaded_at|date:"U" }}</td>
  <td class="hide">{{ note.thanks|stringformat:"010g" }}</td>

  <td>
    <div class="data-table-entry">
      <div class="note-date adelle-sans">{{ note.uploaded_at|date:"l, F j, Y" }}</div>
      <div class="note-name-line">
        <span class="table-course-name museo700">
          <a href="{{ note.get_absolute_url }}">
            {{ note.name }}</a>
        </span>
        <span class="hide-for-large-up"></span>
        <span class="note-thanks"><i class="fa fa-thumbs-up"></i> {{ note.thanks }} thanks</span>
      </div>
      {% if note_preview %}
        <div class="note-text">{{ note_preview|safe }} &hellip;</div>
      {% elif note.text|length <= 500 %}
        <div class="note-text show-for-large-up">{{ note.text }}</div>
      {% else %}
        <div class="note-text show-for-large-up">{{ note.text|slice:":500" }} &hellip;</div>
      {% endif %}
      <div class="note-tags">
        {% if note.tags.count > 0 %}
          <span class="activity_details_context"><strong>Tags:</strong>
            {% for tag in note.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>
  </td>

</tr>
