{% load url from future %}
<script>
$(function() {

  function setupAjax(){
    // Assumes variable csrf_token is made available
    // by embedding document
    $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
              }
          }
    });
  }

  setupAjax();

    $("#str_school").autocomplete({
        source: function(request, response){
            $.ajax({
                url: "{% url 'json_school_list' %}",
                data: {q: request.term},
                success: function(data) {
                    console.log(data);
                    if (data['status'] === 'success') {
                        response($.map(data['schools'], function(item) {
                            return {
                                value: item.name,
                                real_value: item.id,
                                label: item.name,
                            };
                        }));
                    } else {
                      // FIXME: do something if school not found
                      $('#create_school_link').show();
                    }
                },
                dataType: "json",
                type: 'POST'
            });
        },
        select: function(event, ui) { 
            console.log("select func");
            console.log("id");
            console.log(ui.item.value);
            console.log("name");
            console.log(ui.item.label);
            // set the school id as the value of the hidden field
            $('#id_school').val(ui.item.real_value);
            // set the School name as the textbox field
            //$('#str_school').val(ui.item.label);
          },
        minLength: 3
    });
});

</script>

<section id="add-course" class="modal_content">
<form method="POST" action="{% url 'api_course_post' %}">
  {% csrf_token %}
  <div class="row">
    <div class="eight columns centered lightbox_modal" style="margin-top: 121px;">
      <div class="row">
        <div class="lightbox_header modal_header twelve columns">
          Add a course
        </div><!-- /modal_header -->
      </div>

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            School
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="str_school" class="lightbox_textfield" type="text" name="str_school"/>
            <input id="id_school" name="school" type='hidden'/>
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->


      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Title of Course:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_name" class="lightbox_textfield" type="text" name="name" maxlength="255" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Instructor Name:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_instructor_name" class="lightbox_textfield" type="text" name="instructor_name" maxlength="75" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Instructor Email:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_instructor_email" class="lightbox_textfield" type="text" name="instructor_email" maxlength="75" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Description:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <textarea id="id_desc" class="lightbox_textfield lightbox_textarea" rows="4" cols="40" name="desc"></textarea>
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <button class="lightbox-button" id="submit-lightbox-create-course" type="submit">CREATE COURSE</a>
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="lightbox_close"></div>

    </div> <!-- .lightbox_modal -->
  </div> <!-- .row -->

</form>
</section><!--add_course_content-->

