{% load url from future %}


<section id="lightbox_upload" class="modal_content">

  <script>
    var ajax_upload_url = "{% url 'ajax_upload' %}";
    var csrf_token = "{{ csrf_token }}";
  </script>
  <form>
  <div class="row">
    <div class="eight columns centered lightbox_modal" style="margin-top: 121px;">
      <div class="row">
        <div class="lightbox_header modal_header twelve columns">
          Add Notes
        </div><!-- /modal_header -->
      </div>


      <div class="row lightbox_row">
        <div class="three columns offset-by-one">
          <label class="lightbox_label">
            Upload File
          </label><!-- lightbox_label -->
        </div>
        <div class="four columns browse_file_button">
          {% comment %}
          <div class="inverted_button">
            Browse
          </div><!-- /inverted_button -->
          <input type="file" id="browse_for_file" name="file">
          {% endcomment %}
          <div> <!-- this allows the _parent insert -->
            <div style="text-align:center;" id="file-uploader">
              <noscript>
                <p>Please enable JavaScript to use file uploader.</p>
              </noscript>
            </div> <!-- #file-uploader -->
          </div>
        </div>
        <div class="three columns end">
          <div id="lightbox_instruction_file_info" class="lightbox_instruction">
            <!-- Don't see the course you want to add to?<br><a href="#">Join it now.</a> -->
          </div><!-- /lightbox_instruction -->
        </div>
      </div><!-- /lightbox_row -->

      <div class="row lightbox_row">
        <div class="three columns offset-by-one">
          <label class="lightbox_label">
            Note Name
          </label><!-- lightbox_label -->
        </div>
        <div class="seven columns end">
          <input type="text" class="lightbox_textfield" id="id_name" name="name">
        </div>

      </div><!-- /lightbox_row -->

      <div class="row lightbox_row">
        <div class="three columns offset-by-one">
          <label class="lightbox_label">
            Tags
          </label><!-- lightbox_label -->
        </div>
        <div class="four columns">
          <input type="text" class="lightbox_textfield" id="id_name" name="name">
        </div>
        <div class="three columns end">
          <div id="lightbox_instruction_file_info" class="lightbox_instruction">
            Comma separated tag names
          </div><!-- /lightbox_instruction -->
        </div>
      </div><!-- /lightbox_row -->

      <div class="row lightbox_row">
        <div class="three columns offset-by-one">
          <label class="lightbox_label">
            Describe your notes
          </label><!-- lightbox_label -->
        </div>
        <div class="seven columns end">
          <textarea class="lightbox_textfield lightbox_textarea" id="id_desc" placeholder="These notes are the bomb because…"></textarea>
        </div>
      </div><!-- /lightbox_row -->
      {# TODO: This is not the right styling, fixme #}
      <div class="row lightbox_row">
        <div class="three columns offset-by-one">
          <label class="lightbox_label">
          </label><!-- lightbox_label -->
        </div>
        <div class="seven columns end">
          <a class="button white" id="submit-lightbox-upload" type="submit">FINISH UPLOAD</a>
          <input class="submit_upload" type="submit" value="submit upload">
        </div>
      </div><!-- /lightbox_row -->


      <div class="lightbox_close"></div>

    </div><!-- /lightbox_modal -->
  </div>
  </form>

</section><!-- /modal_content -->
