<tr class="table-row">
  <td class="hide">{{ course.updated_at|date:"U" }}</td>
  <td class="hide">{{ course.file_count|stringformat:"010g" }}</td>
  <td class="hide">{{ course.get_popularity|stringformat:"010g" }}</td>
  {% if course.school %}
    <td class="hide">{{ course.school.name }}</td>
  {% else %}
    <td class="hide">{{ course.department.school.name }}</td>
  {% endif %}

  <td class="small-12 columns data-table-entry-wrapper">
    <div class="data-table-entry">
      <div class="table-entry-first-line">
        <span class="table-school">
          {% if course.school.name %}
            {{ course.school.name }}
          {% endif %}
          {% if course.department.school.name %}
            {{ course.department.school.name }}
          {% endif %}
        </span>
        {% if course.department %}
          &nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <span class="table-department">{{ course.department.name }}</span>
        {% endif %}
        {% if course.instructor_name %}
          &nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <span class="table-instructor">{{ course.instructor_name }}</span>
        {% endif %}
        {% if couse.instructor.name %}
          &nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <span class="table-instructor">{{ course.instructor.name }}</span>
        {% endif %}
      </div>

      <div class="table-entry-second-line museo700">
        <span class="table-course-name"><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></span>
      </div>

      <div class="table-entry-third-line">
        <span class="table-note-count"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ course.file_count }} Notes</span>
        <span class="table-thanks-count"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;{{ course.get_popularity }} Thanks </span>
        <span>Updated {{ course.updated_at|date:"b d, o"|capfirst }}</span>
      </div>
    </div>

  </td>
</tr>
