{% extends "base.html" %}
{% load url from future %}


{% block pagescripts %}
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js" ></script>
  <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
  <script src="{{ STATIC_URL }}js/lightboxupload.js" ></script>
  <script src="{{ STATIC_URL }}js/course-addNote.js" ></script>
  <script>
    var courseId  = {{ course.id }};
    var csrf_token = "{{ csrf_token }}";
    var uploadUrl = "{% url 'ajax_upload' %}";
  </script>
{% endblock %}


{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/note_course_pages.css">
{% endblock %}


{% block lightboxen %}
  {% include 'lightbox/upload.html' %}
{% endblock %}


{% block title %}
  Share Notes for {{ course.name }} | {{ course.school.name }}
{% endblock %}


{% block content %}
  <section id="course_content">

    <div id="course_header">
      <div class="row">
        <div id="breadcrumbs" class="ten columns offset-by-one">
          <a href="/">Home</a> &gt; <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
        </div><!-- /course_subhead -->
      </div>

      <div class="row">
        <div id="course_name" class="twelve columns">
          {{ course.name }}
        </div><!-- /note_name -->
      </div>

      <div class="row">
        <div id="course_meta" class="twelve columns">
          <div class="course_details">
            {{ course.instructor_name }} | {{ course.school.name }}
          </div><!-- /activity_details_context -->
        </div><!-- /course_meta -->
      </div>

      <div class="row">
        <div class="ten columns offset-by-one"> <hr/> </div>
      </div>

      {% include 'partial/add_note.html' %}

      <div class="row">
        <div class="three columns centered">
          <div id="add-note-btn" data-id="{{ course.id }}">
            <i class=icon-upload></i> add a note
          </div>
        </div>
      </div>


      <div class="row">
        <div class="ten columns offset-by-one"> <hr/> </div>
      </div>


    </div><!-- /course_header -->

    {% if request.GET.thankyou == '' %}
    <div class="row">
      <div class="ten columns offset-by-one">
        <div id="thankyou">
          <p>
            Thank you for uploading
            <a href="{{ request.GET.url }}">{{ request.GET.name }}</a>
            Share another or take a
            <a href="https://docs.google.com/a/finalsclub.org/spreadsheet/viewform?usp=sharing&formkey=dFg1WnI2cUVfckZyYnJpZ0ExQmUxSnc6MQ#gid=0" target="_blank">quick survey</a> to help us make KarmaNotes even better.
          </p>
          <script>
          // when showing the thankyou button, flash it orangered first
          $(function() {
            $("#thankyou").effect("highlight", {'color': '#f05a28'}, 3000);
          });
          </script>

        </div><!-- /thankyou -->
      </div>
    </div> <!-- .row -->
    {% endif %}

    <div id="course_container">
      <div class="row">
        <div class="ten columns offset-by-one">

          {% for note in course.note_set.all %}

          <div class="row notes_result_container wide">
            <div class="twelve columns notes_result">

              <div class="note_name">
                <a href="{{ note.get_absolute_url }}" class="activity_target">{{ note.name }}</a>
              </div>

              <time datetime="{{ note.uploaded_at }}">
                {{ note.uploaded_at|date:"l M d o" }}
              </time>

              {% if note.tags.count > 0 %}
              <div class="activity_details_context">
                Tags:
                  {% for tag in note.tags.all %}
                    {{ tag.name }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </div>
              {% endif %}


              <div class="note_preview">
                {{ note.text|slice:":500" }} &hellip;
              </div>


            </div><!-- /notes_result -->
          </div><!-- /notes_result_container -->

          <hr class=midrule>

          {% endfor %}
        </div>
      </div>

    </div><!-- /course_container -->

    {% comment %}
    <div class="row">
      <div class="twelve columns">
        <div id="search_pagination" style="width: 232px"><!-- WIDTH SHOULD BE SET DYNAMICALLY TO ENABLE MARGIN: AUTO -->
          <div id="search_pagination_left">
            <img src="img/search_arrow_left.png" alt="search_arrow_left" width="5" height="10" />
          </div><!-- /search_pagination_left -->
          <div id="search_pagination_numbers">
            <ul>
              <li class="button_interior">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
          </div><!-- /search_pagination_numbers -->
          <div id="search_pagination_right">
            <img src="img/search_arrow_right.png" alt="search_arrow_right" width="5" height="10" />
          </div><!-- /search_pagination_right -->
        </div><!-- /search_pagination -->
      </div>
    </div>
    {% endcomment %}
  </section><!--/note_content-->
{% endblock %}
