{% extends "base.html" %}
{% load url from future %}


{% block pagescripts %}
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js" ></script>
  <script src="{{ STATIC_URL }}js/setup-ajax.js"></script>
  <script src="{{ STATIC_URL }}js/course.js"></script>
  <script src="{{ STATIC_URL }}js/course-detail.js" ></script>
  <script>
    var json_school_course_list = "{% url 'json_school_course_list' %}";
    var json_school_course_instructor_list = "{% url 'json_school_course_instructor_list' %}";
    var csrf_token = "{{ csrf_token }}";
    var course_flag_url = "{% url 'flag_course' course.id %}";
    var course_edit_url = "{% url 'edit_course' course.id %}";
  </script>
{% endblock %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/note_course_pages.css">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/data_table_list.css">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/datatables-css/jquery.dataTables.css">
{% endblock %}

{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block title %}
  Share Notes for {{ course.name }} | {{ course.school.name }}
{% endblock %}

{% block content %}
  <section id="course_content">

    <div id="course-header">
      <div class="row">
        <div class="small-12 columns">
          <span class="course-header-school">{{ course.school.name }}</span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          {% if course.department %}<span class="course-header-department">{{ course.department.name }}</span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;{% endif %}
          <span class="course-header-instructor">{{ course.instructor_name }}</span>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <span id="course-header-name">{{ course.name }}</span>

          &nbsp;&nbsp;

          {% if user.is_authenticated %}
            {% if user.get_profile.can_edit_items %}
              <span id="edit-button"> <i class="fa fa-edit"></i> Edit this course</span>&nbsp;&nbsp;
            {% endif %}

            {% if already_flagged %}
              <i class="fa fa-flag"></i> You have reported this course as inappropriate
            {% else %}
              <span id="flag-button"><i class="fa fa-flag"></i> Report course as inappropriate</span>
            {% endif %}
          {% else %}
            <i class="fa fa-flag"></i> Log in to flag a course as inappropraite
          {% endif %}
        </div>
      </div>

      <div class="row {% if not course.url %}hide{% endif %}">
        <div id="course_link" class="small-12 columns">
          <a id="course_url" rel="nofollow" target="_blank" href="{{ course.url }}">
            {{ course.url|slice:":50" }}
            <i class="fa fa-external-link-square"></i>
          </a>
        </div>
      </div>

      <div id="end-header" class="row">
      </div>

    </div><!-- /course_header -->

    {% if user.get_profile.can_edit_items %}
      <section id="edit-course-form" class="hide">
        <form>
          {% csrf_token %}

          <div class="row">
            <div id="course_form_errors" class="small-12 columns">
              {{ course_form.non_field_errors }}
            </div>
          </div>

          <div class="row hide">
            <div class="small-12 columns">
              <label for="id_school">School</label>
              <div>
                <input id="id_school" value="{{ course.school.id }}" name="school" type='hidden'/>
              </div>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="small-12 columns">
              <label for="id_name">Course Name:</label>
              <input id="id_name" class="" type="text" name="name" maxlength="255" value="{{ course.name }}"/>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="small-12 columns large-6">
              <label for="id_instructor_name">Instructor Name:</label>
              <input id="id_instructor_name" class="" type="text" name="instructor_name" maxlength="75" value="{{ course.instructor_name }}"/>
            </div>

            <div class="small-12 columns large-6">
              <label for="id_instructor_email">Instructor Email:</label>
              <input id="id_instructor_email" class="" type="text" name="instructor_email" maxlength="75" value="{{ course.instructor_email }}"/>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="small-12 columns">
              <label for="id_url">Course url:</label>
              <input id="id_url" class="" type="text" name="url" maxlength="255" value="{{ course.url }}"/>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="small-4 large-8 columns small-centered text-center">
              <button id="edit-save-btn" type=button><i class="fa fa-save"></i> Save</button>
            </div>
          </div>
        </form>
      </section>
    {% endif %}

    <div id="note-search-bar" class="row">
      <div class="small-12 columns">
        {{ file_upload_form.fp_file }}
        <form class="search-notes" action="{% url 'note_search' %}" method="GET">
          <input name="query" class="search-notes" type="text" placeholder="Search Notes" />
          <input type="hidden" name="course_id" value="{{ course.id }}">
        </form>
        <div id="note-sort-wrapper">
          Sort By
          <select class="note-sort">
            <option value="0">Date</option>
            <option value="1">Number of Quizzes</option>
            <option value="2" selected>Popularity</option>
          </select>
        </div>
      </div>
      <div class="small-12 columns">
        {% include 'partial/filepicker.html' %}
      </div>
    </div>

    <div class="row">
      <div class="small-10 columns small-offset-1"> <hr/> </div>
    </div>

    <div id="course_container">
      <div class="row">
        <div class="small-12 columns large-10 large-offset-1">
          <table id="data_table_list">
            <thead><tr>
              <th id="data-table-sort-by"> Sort by: </th>
              <th id="data-table-date"> Date </th>
              <th id="data-table-thank-count"> Popularity </th>
              <th class="no-display" id="data-table-note-name"> Name </th>
              <th class="no-display" id="data-table-tags"> Tags </th>
              <th class="no-display" id="data-table-note-preview"> Preview </th>
            </tr></thead>
            <tbody>
              {% for note in note_set %}
                {% include 'notes/note_list_entry.html' with note=note %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- /course_container -->

  </section><!--/course_content-->

{% endblock %}
