{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Share College Course Notes
{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/home.css">
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive-tables.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/course_list_table.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/datatables-css/jquery.dataTables.css"> <!-- dataTables -->
{% endblock %}

{% block pagescripts %}
<script src="{{ STATIC_URL }}js/bootstrap-modal.js" ></script>
<script src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
  $('#course_list').dataTable({
    // remove the default filter label
    'oLanguage': {
      'sSearch': '',
    },
    // we will set column widths explicitly
    'bAutoWidth': false,
    // don't provide a option for the user to change the table page length
    'bLengthChange': false,
    // sepcify the number of rows in a page
    'iDisplayLength': 20,
    // Position the filter bar at the top
    'sDom': '<"top"f>rt<"bottom"p><"clear">', 
    // Specify options for each column
    'aoColumns': [
      { "bSearchable": false, "bSortable":false, },
      { "bSearchable": false },
      { "bSearchable": false },
      null,
      null,
      null, 
    ],
    // Initial sorting
    'aaSorting': [[2,'desc']]
    // Use out Ajax endpoing to populate the list
    //'sAjaxSource': "{% url 'api_course_list' %}" 
  });
$('.dataTables_filter input').attr("placeholder", "search courses");
});
</script>
{% endblock %}

{% block lightboxen %}
  {% include 'lightbox/add_course.html' %}
{% endblock %}

{% block content %}
<section id="home_content">
  <div id="page_header" class="">
    <div class="row">
      <div id="subhead" class="">
        Share and access a growing database of college lecture notes
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
      <!-- Main course table -->
      <table id="course_list" class="">
        <!-- specify col widths -->
        <colgroup> 
          <col span="1" style="width: 100%">
          <col span="5" style="width: 0%">
        </colgroup> 
        <thead>
          <tr>
            <th class="sort_by">Sort by:</th>
            <th class="date"> Date </th>
            <th class="note-count"> #Notes </th>
            <th class="school-name"> Institution </th>
            <th class="course-name"> Course Name </th>
            <th class="instructor-name"> Instructor </th>
          </tr>
        </thead>
        <tbody>
        {% for course in object_list %}
          <tr>
            <td class="sort_by"></td>
            <td class="date slim">        Updated on {{ course.updated_at|date:"M d o" }} </td>
            <td class="note-count slim">  {{ course.file_count }} </td>
            <td class="school-name">      {{ course.school.name }} </td>
            <td class="course-name">      <a href="{{ course.get_absolute_url }}">{{ course.name }}</a> </td>
            <td class="instructor-name">  {{ course.instructor_name }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- .ten columns -->
  </div> <!-- .row -->
  <div class="row">
    <div class="ten columns offset-by-one">
      <p class="text">Can't find your course? 
        <a href="#add-course" role="button" class="btn" data-toggle="modal">Add it now</a>
      </p>
    </div><!-- .ten columns -->
  </div> <!-- .row -->
</section> <!-- #results_content -->

{% endblock %}
