{% extends "base.html" %}
{% load url from future %}


{% block pagescripts %}
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js" ></script>
  <script>
    var csrf_token = "{{ csrf_token }}";
  </script>
{% endblock %}


{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/note_course_pages.css">
{% endblock %}


{% block title %}
  Share Notes for {{ course.name }} | {{ course.school.name }}
{% endblock %}


{% block content %}
  <section id="course_content">

    <div id="course_header">

      <div class="row">
        <div id="breadcrumbs" class="small-12 hide-for-small columns">
          <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="unavailable"><a href="#">{{ course.school.name }}</a></li>
            <li class="current"><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
          </ul>
        </div><!-- /course_subhead -->
      </div>

      <div class="row">
        <div id="course_name" class="small-12 columns">
          {% if course.url %}
          <a rel="nofollow" href="{{ course.url }}">
            {{ course.name }}
          </a>
          {% else %}
          {{ course.name }}
          {% endif %}
        </div><!-- /note_name -->
      </div>

      <div class="row">
        <div id="course_meta" class="small-12 columns">
          <div class="course_details">
            {{ course.instructor_name }} | {{ course.school.name }}
          </div><!-- /activity_details_context -->
        </div><!-- /course_meta -->
      </div>

      <div class="row">
        <div class="small-10 columns small-offset-1"> <hr/> </div>
      </div>


      {% include 'partial/filepicker.html' %}


      {% if request.GET.thankyou == '' %}
      <div id=thankyou-wrapper class="row">
        <div class="small-8 columns small-offset-2">
          <div id="thankyou">
            <p>
              Thank you for uploading
              <a href="{{ request.GET.url }}">{{ request.GET.name }}</a>.
              Share another or take a
              <a href="https://docs.google.com/a/finalsclub.org/spreadsheet/viewform?usp=sharing&formkey=dFg1WnI2cUVfckZyYnJpZ0ExQmUxSnc6MQ#gid=0" target="_blank">quick survey</a> to help us make KarmaNotes even better.
            </p>
            <script>
            // when showing the thankyou button, flash it orangered first
            $(function() {
              $("#thankyou").effect("highlight", {'color': '#f05a28'}, 3000);
            });
            </script>

          </div><!-- /thankyou -->
        </div>
      </div> <!-- .row -->
      {% endif %}


      <div class="row">
        <div class="small-10 columns small-offset-1"> <hr/> </div>
      </div>


    </div><!-- /course_header -->


    <div id="course_container">
      <div class="row">
        <div class="small-12 columns large-10 large-offset-1">

          {% for note in note_set %}
            {% include 'notes/note_list_entry.html' with note=note %}
          {% endfor %}
        </div>
      </div>

    </div><!-- /course_container -->

    {% comment %}
    <div class="row">
      <div class="twelve columns">
        <div id="search_pagination" style="width: 232px"><!-- WIDTH SHOULD BE SET DYNAMICALLY TO ENABLE MARGIN: AUTO -->
          <div id="search_pagination_left">
            <img src="img/search_arrow_left.png" alt="search_arrow_left" width="5" height="10" />
          </div><!-- /search_pagination_left -->
          <div id="search_pagination_numbers">
            <ul>
              <li class="button_interior">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
          </div><!-- /search_pagination_numbers -->
          <div id="search_pagination_right">
            <img src="img/search_arrow_right.png" alt="search_arrow_right" width="5" height="10" />
          </div><!-- /search_pagination_right -->
        </div><!-- /search_pagination -->
      </div>
    </div>
    {% endcomment %}
  </section><!--/note_content-->
{% endblock %}
